<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Гороскоп</title>
</head>
<body class="overflow-scroll">
    <script async src="{{ url_for('static', filename='main.js') }}"></script>
    <header>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        <div class="logo">
                            <a href="/home">
                                <img src="{{ url_for('static', filename='img/znak.png') }}">
                            </a>
                        </div>
                        <div class="title">
                            <label>Твой Гороскоп</label>
                        </div>
                    </div>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse top-menu" id="navbarNav">
                            <ul>
                                <li class="nav-item ms-1"><a class="nav-link" href="#">Новости</a></li>
                                <li class="nav-item ms-1"><a class="nav-link" href="/home">Знаки</a></li>
                                <li class="nav-item ms-1"><a class="nav-link" href="#">Прочее</a></li>
                            </ul>
                        </div>
                    </div>
            </nav>
    </header>
    <main>
          <video playsinline autoplay muted loop>
            <source src="{{ url_for('static', filename='video/vd.mp4') }}" type="video/mp4">
          </video>
        <div class="video-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="offcanvas offcanvas-start left-settings rounded"
                         tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                        <div class="offcanvas-header rounded-circle">
                            <h5 class="offcanvas-title" id="offcanvasLabel">Определить знак зодиака</h5>
                        </div>
                        <form method="post" action="/home_filter/today">
                        <div class="offcanvas-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <input name="text" type="text" class="form-control" placeholder="Ваше имя"
                                           aria-label="First name" maxlength="16" onkeypress="noDigits(event)">
                                </div>
                                <div class="col-md-6">
                                    <input name="date" type="date" class="form-control" required>
                                </div>
                                <div class="col-12">
                                    <select name="gender" class="form-select" aria-label="Default select example">
                                        <option selected>Выберите свой пол</option>
                                        <option value="m">Мужской</option>
                                        <option value="w">Женский</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success">Определить</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 home-since rounded-top">
                        {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="text-white text-center">Creator:</p>
            <a class="text-white" href="https://vk.com/caba40k">Мой Vk )</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</body>
</html>
