{% extends "base.html" %}

{% block content %}
    <div class="container-sm pt-4 pb-4">
        <h2>Гороскоп для:</h2>
        <div class="row g-3">
            <div class="col-6 col-md-4 text-center">
                <a href="gemini">
                        <img src="{{ url_for('static', filename='img/zodiac signs/image_part_01.png') }}"
                             class="zodiac-sign rounded">
                </a>
            </div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
            <div class="col-6 col-md-4 text-center">col</div>
        </div>
    </div>
{% endblock %}