{% extends "horoscope.html" %}


{% block content %}
    <div class="container-sm pt-4 pb-4">
        <h2 class="text-zodiac">Гороскоп для:</h2>
        <div class="row g-3">
            {% for image, sign in data %}
            <div class="col-6 col-md-4 text-center">
                <a href="zodiac_sign/{{ sign }}/today">
                        <img src="{{ image }}"
                             class="zodiac-sign rounded">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}